# Base de datos
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=taller_carpinteriaBD

# Sesión
SESSION_SECRET=cambia_esto_por_algo_seguro_en_produccion

# Servidor
PORT=3000
NODE_ENV=development

# Frontend (CORS)
FRONTEND_URL=http://localhost:5173
